{:dependencies [[org.clojure/core.specs.alpha "0.2.36"]
                [org.clojure/tools.nrepl "0.2.12"]
                [org.clojure/tools.reader "1.3.0"]
                ;; [org.clojure/core.async "0.4.474"]
                [cider/cider-nrepl "0.18.0"]]
 
 :source-paths ["src" "test"]
 :builds       {:node
                {:target           :node-library
                 :output-to        "release/node/index.js"
                 :output-dir       "out"
                 :modules          {:main {:entries [csound-wasm.node]}}
                 :compiler-options {:optimizations :simple
                                    :language-out  :es5}
                 :exports-fn       csound-wasm.node/exports-fn}
                
                :node-test
                {:target           :node-test
                 :output-to        "out/node-test.js"
                 :ns-regexp        "-test$"
                 :compiler-options {:optimizations :simple}
                 ;; :autorun          true
                 :build-hooks      [(csound-wasm.hooks/libcsound-wasm-for-tests)]}

                :browser
                {:target           :browser
                 :output-dir       "release/browser"
                 :asset-path       "./"
                 :compiler-options {:optimizations  :advanced
                                    :output-wrapper true
                                    :output-to      "release/browser/csound-wasm-browser.js"}
                 :modules          {:main {:entries [csound-wasm.browser]}}
                 :exports          {:csound csound-wasm.browser/main}
                 :build-hooks      [(csound-wasm.hooks/rename-release)]
                 :devtools         {:http-root          "release/browser"
                                    :http-resource-root "release/browser"
                                    :http-port          8600
                                    :http-host          "localhost"
                                    ;; :after-load         csound-wasm.browser/start-audio
                                    }}
                
                :processor
                {:target           :browser
                 :output-dir       "release/browser"
                 :asset-path       "./"
                 :compiler-options {
                                    :optimizations  :simple
                                    :elide-strict   false
                                    :output-wrapper true
                                    :source-map     true
                                    :language-out   :es6-strict
                                    :output-to      "release/browser/csound-wasm-worklet-processor.js"
                                    }
                 :modules          {:processor {:entries [csound-wasm.worklet-processor]}}
                 :build-hooks      [(csound-wasm.hooks/rename-processor-release)]}}}
