{:dependencies [[org.clojure/core.specs.alpha "0.1.24"]]
 :source-paths ["src"]
 :builds {:app {:target :node-library
                ;; :asset-path "/resources"
                :output-to "index.js"
                ;; :js-options {:resolve {"libcsound" {:target :file
                ;;                                     :file "libcsound.js"}}}
                :modules {:main {:entries [csound-wasm.core]}}
                :exports {:startRealtime csound-wasm.core/start-realtime
                          :compileOrc csound-wasm.core/compile-orc
                          :renderToFile csound-wasm.core/render-to-file
                          :evalCode csound-wasm.core/eval-code
                          :inputMessage csound-wasm.core/input-message
                          :readScore csound-wasm.core/read-score
                          :getControlChannel csound-wasm.core/get-control-channel
                          :setControlChannel csound-wasm.core/set-control-channel
                          :setStringChannel csound-wasm.core/set-string-channel
                          :getScoreTime csound-wasm.core/get-score-time
                          :playCSD csound-wasm.core/play-csd
                          :reset csound-wasm.core/reset
                          :stop csound-wasm.core/stop
                          :destroy csound-wasm.core/destroy
                          :setOption csound-wasm.core/set-option
                          :compileCSD csound-wasm.core/compile-csd
                          :setTable csound-wasm.core/set-table
                          :getTable csound-wasm.core/get-table
                          :getTableLength csound-wasm.core/get-table-length
                          :getKsmps csound-wasm.core/get-ksmps
                          :get0dbfs csound-wasm.core/get-0dbfs
                          }}}}
